/* Body style */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: x-large;
    color: #003C71;
    font-family: math;
    font-weight: bolder;
    background: cyan;
  }
  
  /* Heading style */
  h2 {
    color: #003C71;
  }
  
  /* Table style */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border:#001D3D 1px solid;
    border-bottom: 3px solid #003C71;
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
    border: 1px solid #003C71;
  }
  
  th {
    background-color: #003C71;
    color: #fff;
  }
  
  /* Button style */
  button {
    background-color: #003C71;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  button:hover {
    background-color: #001D3D;
  }
  
  /* Paragraph style */
  p {
    color: #003C71;
  }
  
/*-------------------------------- Form container style---------------------- */
/* Form container style */
.container {
  margin: 50px auto;
  width: 600px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-bottom: 50px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form title style */
h1 {
  color: #003C71;
  text-align: center;
  margin-bottom: 20px;
}

/* Form input label style */
label {
  display: block;
  margin-bottom: 5px;
  color: #003C71;
  font-weight: bold;
}
p {
  font-size: x-large;
  color: #003C71;
  font-family: math;
  font-weight: bolder;
  text-decoration-line: underline;
}

/* Form input style */
input[type="text"],
input[type="email"],
input[type="checkbox"] {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Form field wrapper style */
.form-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* Form field label style */
.form-field label {
  flex-basis: 50%;
}

/* Form field input style */
.form-field input {
  flex-basis: 50%;
}

/* Form submit button style */
button[type="submit"] {
  background-color: #003C71;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #001D3D;
}

/* Add space all around the content */
body {
  margin: 50px;
}

