body {
  font-family: sans-serif;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 500px;
    margin: 100px auto;
    text-align: center;
  }
  
  h1 {
    color: #28a745;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  p {
    color: #777;
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  a {
    color: #28a745;
    text-decoration: none;
    font-weight: bold;
  }
  