<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Post Data:</h1>
    <button id="toggleTable">Toggle Table</button>
    <% if (records != 0) { %>
      <div id="aiders">
        <h2>Marshals</h2>
        <table>
          <thead>
            <tr>
              <% const keys1 = Object.keys(records[0]).filter(key => key !== 'rgu_id'); %>
              <% for (let i = 0; i < keys1.length; i++) { %>
                <th><%= keys1[i] %></th>
              <% } %>
            </tr>
          </thead>
          <tbody>
            <% records.sort((a, b) => a['rgu_id'] - b['rgu_id']); %>
            <% for (var i = 0; i < records.length; i++){ %>
              <% const recordset = records[i]; %>
              <% if (recordset['Role'] === 'marshal') { %>
                <tr>
                  <% for (let key in recordset) { %>
                    <% if (key !== 'rgu_id') { %>
                      <td><%= recordset[key] %></td>
                    <% } %>
                  <% } %>
                </tr>
              <% } %>
            <% } %>
          </tbody>
        </table>
      </div>
      
      <div id="marshals">
        <h2>Aiders</h2>
        <table>
          <thead>
            <tr>
              <% const keys2 = Object.keys(records[0]).filter(key => key !== 'rgu_id'); %>
              <% for (let i = 0; i < keys2.length; i++) { %>
                <th><%= keys2[i] %></th>
              <% } %>
            </tr>
          </thead>
          <tbody>
            <% records.sort((a, b) => a['rgu_id'] - b['rgu_id']); %>
            <% for (var i = 0; i < records.length; i++){ %>
              <% const recordset = records[i]; %>
              <% if (recordset['Role'] === 'aider') { %>
                <tr>
                  <% for (let key in recordset) { %>
                    <% if (key !== 'rgu_id') { %>
                      <td><%= recordset[key] %></td>
                    <% } %>
                  <% } %>
                </tr>
              <% } %>
            <% } %>
          </tbody>
        </table>
      </div>
      
  <% } else { %>
    <p>No data posted yet.</p>
  <% } %>
</body>
</html>
