<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Document</title>
</head>
<body>
    <h1>Post Data:</h1>
    <% if (recordset) { %>
      <p><%= recordset.recordset[0].Name %></p>
      
    <% } else { %>
      <p>No data posted yet.</p>
    <% } %>
</body>
</html>