<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Post Data:</h1>
    <% if (records != 0) { %>
      <table>
        <% for (var i = 0; i < records.length; i++){ %>
          <tr>
            <h2>Record <%= i + 1 %></h2>
          </tr>
          <% const recordset = records[i]; %>
          <% for (let key in recordset) { %>
            <tr>
              <td><%= key %></td>
              <td><%= recordset[key] %></td>
            </tr>
          <% } %>
        <% } %>
      </table>
  <% } else { %>
    <p>No data posted yet.</p>
  <% } %>
</body>
</html>
