<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        
        
          <meta charset="UTF-8">
          <title>Add User</title>
      </head>
<body>
  <a href="/"><button>Home</button></a>
  <h1>Add new User Form</h1>
  <% if (noTag) { %>
    <h1><%= noTag %> </h1>
    <form method="POST" action="/submit">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
      <br>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
      <br>
      <label for="building">Building:</label>
      <input type="text" id="building" name="building" required>
      <br>
      <label for="priority">Priority:</label>
      <input type="text" id="priority" name="priority" required>
      <br>
      <label for="is_present">Is Present:</label>
      <input type="checkbox" id="is_present" name="is_present">
      <br>
      <label for="aid">Aid:</label>
      <input type="checkbox" id="aid" name="aid">
      <br>
      <label for="marshal">Marshal:</label>
      <input type="checkbox" id="marshal" name="marshal">
      <br>
      <label for="wheelchair">Wheelchair:</label>
      <input type="checkbox" id="wheelchair" name="wheelchair">
      <br>
      <button type="submit">Submit</button>
    </form>



  <% } else { %>
    <p>Please Scan a new tag to activate the registration form</p>
  <% } %>


  <h1> Remove User</h1>
<form method="POST" action="/remove">

<label for="remId"> User Name </label>
<input type="text" name="remId" id="remId" required>
<button type="submit" > Submit</button>



</form>
</body>
</html>
