<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>NFC deata</title>
</head>
<body>
    <h1>Post Data:</h1>
    <% if (ressql) { %>
        <p><%= ressql %></p>
      

        
          
            <h2>Record </h2>
            <ul>
              <% const recordset = ressql.recordset[0]; %>
              <% for (let key in recordset) { %>
                <li><%= key %>: <%= recordset[key] %></li>
              <% } %>
            </ul>
          
        
        
        
      
    <% } else { %>
      <p>No data posted yet.</p>
    <% } %>
    
</body>
</html>