<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>NFC deata</title>
</head>
<body>
    <h1>Post Data:</h1>
    <% if (ressql) { %>
        
      

      <h1>3D Array List</h1>
  <ul>
    <% for (let i = 0; i < ressql.push.length; i++) { %>
      <% for (let j = 0; j < ressql.push[i].length; j++) { %>
        <% for (let k = 0; k < ressql.push[i][j].length; k++) { %>
          <li><%= ressql[i][j][k] %></li>
        <% } %>
      <% } %>
    <% } %>
  </ul>

      
      
    <% } else { %>
      <p>No data posted yet.</p>
    <% } %>
</body>
</html>