<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>NFC deata</title>
</head>
<body>
    <h1>Post Data:</h1>
    <% if (ressql) { %>
        <p><%=ressql%></p>
      
    <% } else { %>
      <p>No data posted yet.</p>
    <% } %>
</body>
</html>