<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Document</title>
</head>
<body>
    <h1>Post Data:</h1>
    <% if (ressql) { %>
        <p><%= ressql %></p>
      <p><%= ressql.recordset.rgu_id %></p>
      <p><%= ressql.recordset.Name %></p>
      <p><%= ressql.recordset.Email %></p>
      
    <% } else { %>
      <p>No data posted yet.</p>
    <% } %>
</body>
</html>